<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <hr color="navy" size="10"/>
    <h1 align="center">Aboutus Page</h1>
    <hr color="navy" size="10"/>
    
</body>
</html>